@import "../../src/scss/variables.global.scss";

.right {
  display: flex;
  flex-direction: column;
  font-size: 1em;

  .desc {
    margin: 0;
    line-height: 1.5;
    @include var(color, color-sub);

    .emph {
      @include var(color, color-txt);
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    flex-shrink: 1;
    align-items: flex-start;
    @include var(color, color-txt);
  }
}
