/* autoprefixer grid: autoplace */

@import "./variables.global.scss";

.bio {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 3rem;

  @media only screen and (max-width: 40rem) {
    padding: 1.5rem;
    justify-content: space-between;
  }

  .name {
    font-weight: 700;
    font-size: 2.7em;
    font-family: "Druk Text Wide", "Noto Sans KR";
    margin: 0.9rem 0;

    @media only screen and (max-width: 40rem) {
      font-size: 1.8em;
      white-space: pre-wrap;
      line-height: 1;
    }
  }

  .about {
    font-size: 0.9em;
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 40rem) {
      font-size: 0.8em;
    }

    .col {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin: 0 5rem 0 0;

      @media only screen and (max-width: 40rem) {
        margin: 0 3rem 0 0;
      }

      * {
        display: inline;
        margin: 0.2em 0;
        flex-grow: 0;
      }
    }

    .link {
      @include var(color, txt);
      text-decoration: none;
      transition: transform 0.2s linear;

      &:hover {
        transform: rotateY(20deg);
      }
    }
  }
}
