/* autoprefixer grid: autoplace */

@import "./variables.global.scss";

.bio {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  .logo {
    margin-bottom: 7rem;
  }

  .name {
    font-weight: 700;
    font-size: 1.1em;
    margin: 0;
  }

  .about {
    font-size: 1.1em;
    display: flex;
    @include var(color, color-sub);
    text-decoration: none;
  }
}
