/* autoprefixer grid: autoplace */

@import "./variables.global.scss";

.about {
  z-index: 2;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  align-items: flex-end;
  justify-content: flex-end;
  line-height: 1.4;

  @media screen and (max-width: $breakpoint-s) {
    padding: 1rem;
    backdrop-filter: blur(5px);
    flex-direction: row;
    .sep {
      width: 0;
      margin: 0em 0.3em;
      height: 1.3em;
      border-left: 1px solid white;
      transform: skew(-25deg);
    }
  }

  .link {
    @include var(color, txt);
    text-decoration: none;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: translateX(-0.2em);
    }
  }
}
