@import "./variables.global.scss";

.cards {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  .card {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;

    div {
      padding: 3rem;
      will-change: transform;
      background-color: #ffffff;
      color: black;
      border-radius: 1px;
      box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
        0 10px 10px -10px rgba(50, 50, 73, 0.3);

      @media screen and (max-width: $breakpoint-m) {
        font-size: 80%;
        padding: 2rem;
      }

      @media screen and (min-aspect-ratio: 1/1) {
        $w: unquote("min(calc(100% - 5rem), calc(100vh - 10rem))");
        width: #{$w};
        height: calc(#{$w} / 1.75);
      }

      @media screen and (max-aspect-ratio: 1/1) {
        $w: unquote("min(calc(100% - 5rem), calc(100vh - 10rem))");
        width: #{$w};
        height: calc(#{$w} * 1.75);
      }

      // @media screen and (max-width: $breakpoint-s) {
      //   width: 84vw;
      //   height: 147vw;
      // }

      .name {
        font-size: 1.4em;
        font-weight: 500;
        margin: 0;
      }

      .sub {
        font-size: 1em;
        font-weight: 400;
        font-style: italic;
      }
    }
  }
}
