@import "./variables.global.scss";

$width-left: 35vw;

.layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: $font-ss;
  justify-content: space-between;
}
