@import "./variables.global.scss";

.left {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  .title {
    font-weight: 700;
    font-size: 1em;
    margin: 0;

    @media only screen and (max-width: $breakpoint-l) {
      font-size: 1.3em;
    }
  }

  .subtitle {
    font-size: 1em;
    @include var(color, color-sub);
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

:global .index :local .left .title {
  font-size: 1em;
}
