@import "./variables.global.scss";

.logo {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  @include var(fill, color-logo);

  svg {
    width: 8rem;
    height: 2rem;
    margin-left: -2rem;
    pointer-events: none;
  }
}
