@import "./variables.global.scss";

.logo {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  @include var(fill, color-logo);
  pointer-events: all;

  svg {
    width: 8rem;
    height: 2rem;
    margin-left: -2rem;
    pointer-events: none;

    @media only screen and (max-width: $breakpoint-m) {
      width: 6.8rem;
      height: 1.7rem;
      margin-left: -1.7rem;
    }
  }

  @media only screen and (max-width: $breakpoint-m) {
    width: 1.7rem;
    height: 1.7rem;
  }
}
