@import "./variables.global.scss";

.project {
  display: flex;
  flex-direction: row;
  align-items: centers;
  margin: 2em 0;

  .link,
  .desc {
    font-size: 1.35em;
    font-weight: 400;
  }

  .desc {
    line-height: 1.5;
  }

  .link {
    width: 30%;
    font-weight: 500;
    margin: 0;
    flex-shrink: 0;
    text-decoration: none;
    color: inherit;
    transition: background 0.25s;

    .title {
      transition: background 0.25s;
      border-bottom: 1px solid;
      @include var(border-color, color-hl1);

      &:hover {
        @include var(background, color-hl1-a);
      }
    }
  }
}
