@import "./variables.global.scss";

.right {
  display: flex;
  flex-direction: column;

  .desc {
    font-size: 1.1em;
    margin: 0;
    line-height: 1.5;
    @include var(color, color-sub);

    .emph {
      @include var(color, color-txt);
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  flex-shrink: 1;
  align-items: flex-start;

  .link {
    @include var(color, color-txt);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    line-height: 1.5;

    .icon {
      height: 1.2em;
    }
  }
}
