@import "./variables.global.scss";

.story {
  font-size: 1.3em;
  margin: 0 0 2em 0;
  line-height: 2;
  font-weight: 400;

  .emph {
    margin-right: 0.3em;
    font-weight: 700;
  }

  .emoji {
    width: 1.1em;
    height: 1.1em;
    vertical-align: -0.2em;
  }
}
