@import "./variables.global.scss";

.story {
  font-size: 1.2em;
  margin: 0 0 1em 0;
  line-height: 1.5;
  font-weight: 400;
  max-width: 40rem;

  &.emph {
    margin-right: 0.3em;
    font-weight: 700;
    font-size: 1.5em;
    display: block;
  }

  .emoji {
    width: 1.1em;
    height: 1.1em;
    vertical-align: -0.2em;
  }
}
