@import "./variables.global.scss";
@import "./fonts.global.scss";


* {
  box-sizing: border-box;
}

.kr {
  word-break: keep-all;
}

body {
  margin: 0;
  @include var(background, color-bg);
  @include var(color, color-txt);
  transition: background-color 0.1s;
}

*::selection {
  @include var(background, color-sel);
}
