$font-ss: "Inter", "Noto Sans KR", sans-serif;
$breakpoint-l: 1000px;
$breakpoint-s: 600px;

// #00cece, rgba(12, 161, 154, 0.2),
$colors: (
  color-txt: #ffffff,
  color-sub: #888888,
  color-bg: #2701ff,
  color-hl1: #dd0a7a,
  color-hl2: #00cece,
  color-hl1-a: rgba(221, 10, 122, 0.2),
  color-hl2-a: rgba(12, 161, 154, 0.2),
  color-sel: rgba(209, 209, 209, 0.507),
);

$colors-dark: (
  color-bg: #000000,
  color-txt: #dddddd,
  color-sub: #888888,
  color-hl1: #ff77bd,
  color-hl2: #3efff5,
  color-hl1-a: rgba(250, 86, 171, 0.2),
  color-hl2-a: rgba(62, 255, 245, 0.2),
  color-sel: rgba(12, 72, 161, 0.2),
);

@mixin var($var, $color, $opt...) {
  #{$var}: $opt map-get($colors, #{$color});
  #{$var}: $opt var(--#{$color});
}
