@import "./variables.global.scss";

.wrapper {
  height: 100%;
  width: 100%;

  @media only screen and (max-width: $breakpoint-l) {
    height: auto;
  }

  .header {
    width: 100%;
    max-width: 90rem;
    padding: 10rem 10rem 0 10rem;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    z-index: 1000;

    @media only screen and (max-width: $breakpoint-l) {
      pointer-events: all;

      &.sticky {
        backdrop-filter: blur(1rem);
        transition: background 0.4s;
        @include var(background-color, color-bg-trans-50);

        @supports not (backdrop-filter: blur(1px)) {
          @include var(background-color, color-bg-trans-90);
        }
      }
    }

    .theme-toggle {
      background: none;
      border: none;

      .icon {
        @include var(stroke, color-txt);
        fill: transparent;
        transition: fill 0.3s, stroke 0.3s;

        &:hover {
          @include var(fill, color-txt);
        }
      }
    }

    @media only screen and (max-width: $breakpoint-l) {
      height: auto;
      position: relative; // ie11 fallback
      position: sticky;
      padding: 0.5rem 10rem;
      margin: 10rem 0;
      top: -1px;
      border-top: 1px solid transparent;
    }

    @media only screen and (max-width: $breakpoint-m) {
      margin: 3em 0 6rem 0;
      padding: 0.5rem 2rem;
    }
  }
}

:global body.index :local .wrapper .header .icon {
  @include var(stroke, color-txt);
  @include var(fill, color-txt);
  transition: fill 0.3s, stroke 0.3s;

  &:hover {
    fill: transparent;
  }
}

:global
  body.index:not([theme="dark"])
  :local
  .wrapper
  .header
  .theme-toggle
  .icon {
  @include var(stroke, color-txt);
  @include var(fill, color-txt);

  &:hover {
    fill: transparent;
  }
}
