@import "./variables.global.scss";

.wrapper {
  height: 100%;
  width: 100%;

  @media only screen and (max-width: $breakpoint-l) {
    height: auto;
  }

  .header {
    width: 100%;
    padding: unquote(
      "10rem max(10rem, calc(50% - 35rem)) 0 max(10rem, calc(50% - 35rem))"
    );
    position: fixed;
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &.sticky {
      backdrop-filter: blur(1rem);
      transition: background 0.4s;
      background-color: var(--color-bg-trans-50);

      @supports not (backdrop-filter: blur(1px)) {
        background-color: var(--color-bg-trans-90);
      }
    }

    .theme-toggle {
      background: none;
      border: none;

      .icon {
        @include var(stroke, color-txt);
        fill: transparent;
        transition: fill 0.3s, stroke 0.3s;

        &:hover {
          @include var(fill, color-txt);
        }
      }

      @media only screen and (max-width: $breakpoint-l) {
        opacity: 1 !important;
        pointer-events: all !important;
      }
    }

    @media only screen and (max-width: $breakpoint-l) {
      height: auto;
      position: sticky;
      padding: 0.5rem 10rem;
      margin: 10rem 0;
      top: -1px;
      border-top: 1px solid transparent;
    }

    @media only screen and (max-width: $breakpoint-m) {
      margin: 3rem 0 6rem 0;
      padding: 0.5rem 3rem;
    }
  }
}

:global body[theme="dark"] :local .sticky {
  --color-bg-trans-50: #00000080;
  --color-bg-trans-90: #000000e6;
}

:global :root :local .sticky {
  --color-bg-trans-90: #ffffff80;
  --color-bg-trans-90: #ffffffe6;
}

:global body.index :local .icon {
  @include var(stroke, color-txt);
  @include var(fill, color-txt);
  transition: fill 0.3s, stroke 0.3s;

  &:hover {
    fill: transparent;
  }
}

:global
  body.index:not([theme="dark"])
  :local
  .wrapper
  .header
  .theme-toggle
  .icon {
  @include var(stroke, color-txt);
  @include var(fill, color-txt);

  &:hover {
    fill: transparent;
  }
}
