@import "./variables.global.scss";

.wrapper {
  height: 100%;
  width: 100%;

  @media only screen and (max-width: $breakpoint-l) {
    height: auto;
  }

  .header {
    width: 100%;
    max-width: 90rem;
    padding: 10rem 10rem 0 10rem;
    position: fixed;
    z-index: 99;

    @media only screen and (max-width: $breakpoint-l) {
      width: 100%;
      height: auto;
      position: sticky;
      padding: 0.5rem 10rem;
      margin-top: 10rem;
      backdrop-filter: blur(1rem);
      background: #00000044;
      top: 0;
    }

    @media only screen and (max-width: $breakpoint-m) {
      padding: 0.5rem 3rem;
    }
  }
}
